.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    
}

.dialogsItems a {
    color:rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    
}

.dialogsItems a.active {
    
    color:rgb(255, 255, 255);
}

.messages {
    padding: 10px;
    color: white;
    
}
